@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    h1{
      font-size: 35px;
      margin-left: 1%;
    margin-top: 15px;
    }
    a{
      font-size: 17px;
    }
    #pre{
      height: 150px;
    }
    .contacto{display:none}
  }
  
  /* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
  @media only screen and (min-width: 600px) {
  h1{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 15px;
  }
  a{
    font-size: 18px;
  }
      #pre{
        height: 220px;
          
        }
        .contacto{display:none}
        
  }
  
  /*Dispostivos Médios (Tablets deitados, 768px para cima) */
  @media only screen and (min-width: 768px) {
      #pre{
          height: 280px;
          
        }
        a{
            font-size: 16px;
        }
        .contacto{display:inline-block}
        h1{
            font-size: 45px;
            margin-left: 3%;
          margin-top: 15px;
          }
  }
  
  /* Dispostivos Largos (laptops/desktops, 992px para cima) */
  @media only screen and (min-width: 992px) {
      #pre{
          height: 350px;
        }
        a{
            font-size: 18px;
        }
        .contacto{display:inline-block}
        h1{
            font-size: 50px;
            margin-left: 4%;
          margin-top: 15px;
          }
  }
  
  /* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
  @media only screen and (min-width: 1200px) {
    #pre{
      height: 450px;
      width: 100%;
    }
    h1{
        font-size: 55px;
        margin-left: 5%;
          margin-top: 15px;
    }
    a{
        font-size: 22px;
        
    }
    .contacto{
        display:inline-block
    }
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cima{
    display: inline-block;
    margin-right: 12%
    

}
a{
    text-decoration: none;
    color: black;
    /*font-size: 18px;*/
}
#main{
    flex: 35%;
    text-align: center;
    justify-content: center;

}
#menu{
  flex: 65%;
  margin-top: 30px;
  font-family: 'Anton', sans-serif;
  font-family: 'Poppins', sans-serif;
 
  text-align: right;/*este justify content so funciona para os childs*/
  /*justify-content: space-around;*/
  align-items: center;/*o align-items controla a altura, o justify-content controla a largura*/
  font-weight: 900;
  justify-content: flex-end;
  
}

header{
    margin-top: 0 ;
    top: 0;
    display: flex;
    height: 100px;
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 4;
    
    
}
h1{
    /*margin-left: 6%;
    margin-top: 20px;
    font-size: 50px;*/
    font-family: 'Indie Flower', cursive;
    color: rgb(180, 9, 9);
    font-weight: 900;
    
}
section{
    position:relative;
    height: 500px;
    background: url('../img/fundo.jpg') center center;
    z-index: 0;

    
}
a:hover{
    color:rgb(180, 9, 9);
    font-weight: bold
}

#reserva{
    padding: 1% 2%;
    position: absolute;
    bottom: 3%;
    left: 41.5%;
    background:rgb(180, 9, 9);
    border-radius: 25px;
    font-size: 20px
}
#reserva:hover{
    padding: 1.25% 2.25%;
    
    /*background: white;
    color:rgb(180, 9, 9);
    font-weight: bold*/
}

#pre{

    display: flex;
    justify-content: space-between;
   
    
}
.foto{
    flex:30.75%;
    flex-grow: 4;
}
.ucrania{
    flex: 38.5%;
    flex-grow: 5;
}


#horario{
    margin-top: 0;
    background-color:#3b80b9;
    height: 200px;
    text-align: center;
    background-image: url(../img/banner.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
h3{
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Indie Flower', cursive;

}
#horas{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.lado{
    flex: 12.5%
}
p{
    margin-left: 1%;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
}
footer{
     background: linear-gradient(90deg, rgb(11, 158, 207), #3b80b9,   rgb(13, 124, 172));
}
.media{
    width: 30px;
    height: 30px;
    
}
.baixo{
    display: inline-block;
    margin-top: 6%;
    font-size: 20px;
    
   
}
footer{
    display: flex; 
    justify-content: center;
    height: 120px;
    text-align: center;
    
}